/* Reglas
* Selectores
* Declaraciones
* Propiedades
* Valores */



body {
    font-family: 'Source Sans Pro', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    /* Para colocar un grosor a la fuente (letra) */
    font-weight: normal;
}

h1 {
    font-size: 40px;
    /* Para cambiar el alto de la linea */
    line-height: 1.5;
    /*Para agregar espacion entre las tetras lado a lado*/
    letter-spacing: -.2px;
    /* Para transformar las fuentes (mayuscula) */
    /* text-transform: uppercase; */  
    color: white;
}

h1 strong {
    color: #026fff;
}

.hero {
    height: 300px;
    background-image: url(../image/hero.jpg);
    background-color: #1b2127;
    /* Para colocar una dimecion a la imagen indicando un alto y un ancho */
    background-size: 500px 300px ;
    /* Para que la imagen de ffondo no se repita */
    background-repeat: no-repeat;
    /* Para posicionar la imagen  */
    background-position-x: right;
}

.project-details {
    width: 500px;
}

.proyect-imageContainer {
    width: 500px;
}

.header {
    background-color: #1b2127;
    color: white;
}

.header a {
    color: white;
    text-decoration: none;
}