/* Reglas
* Selectores
* Declaraciones
* Propiedades
* Valores */



body {
    font-family: 'Source Sans Pro', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    /* Para colocar un grosor a la fuente (letra) */
    font-weight: normal;
}

h1 {
    font-size: 40px;
    /* Para cambiar el alto de la linea */
    line-height: 1.5;
    /*Para agregar espacion entre las tetras lado a lado*/
    letter-spacing: -.2px;
    /* Para transformar las fuentes (mayuscula) */
    /* text-transform: uppercase; */
    
}